.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
results/*
*cache/
*rds
*rdb
*RData
!.gitignore
!results/book
!results/tables/risk_score/risk_score_model.csv
corrections/
manuscript/
scripts/chapters/scheme.qmd
