.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
results/*
*cache/
*rds
*rdb
*RData
!.gitignore
!results/book
scripts/tests.qmd
scripts/ivis_analysis.qmd
!results/tables/risk_score/risk_score_model.csv
